@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

:root {
	--btn-primary: #0079ff;
	--btn-primary-hover: #60abff;
	--error-color: #f74646;

	--light-body: #f6f8ff;
	--light-font-color: #2b3442;
	--light-main: #fefefe;
	--light-up: #4b6a9b;
	--light-over: #222731;

	--dark-body: #141d2f;
	--dark-main: #1e2a47;
	--dark-font-color: #fff;
	--dark-up: #fff;
	--dark-over: #90a4d4;


}
body {
	background-color: var(--light-body);
	color: var(--light-font-color);
	font-family: 'Space Mono', monospace;
	@media (prefers-color-scheme: dark) {
		background-color: var(--dark-body);
		color: var(--dark-font-color);
	}
}
.frame {
	margin: 0 auto;
	width: 73.0rem;
}
header {
	align-items: center;
	display: flex;
	justify-content: space-between;
	h1 {
		font-size: 2.6rem;
		line-height: 1;
		text-transform: lowercase;
	}
}
.toggle {
	background: none;
	border: 0;

}
.search-form {
	background-color: var(--light-main);
	border-radius: 1.0rem;
	padding: 1.0rem;
	input {
		&[type='text'] {
			background-color: red;
			border: 0;
		}
		&[type='button'] {
			background: var(--btn-primary);
			border: 0;
			border-radius: 1.0rem;
			color: white;
			font-weight: 700;
			padding: 1.2rem 2.4rem;
			transition: background .5s ease-in-out;
			&:hover {
				background: var(--btn-primary-hover);
				cursor: pointer;
			}
		}
	}
}